.App {
  text-align: center;
}

.employeetable__modal .modal-content{
  width: fit-content;
  
}

.employeetable__modal .modal-dialog{
  justify-content: center;
  display: flex;
}

.usermodal__thead tr th, .usermodal__tbody tr td {
  min-width: 150px;
  text-align: center;
}