.App {
  text-align: center;
}

.usermodal .modal-content{
  width: fit-content;
}

.usermodal .modal-dialog{
  justify-content: center;
  display: flex;
}

.usermodal th,
.usermodal td {
  min-width: 150px;
  padding: 8px;
}

.usermodal__select {
  margin: 15px 20px;
}